@import "../../styles/globalStyles.module.scss";

// Define the sticker size variable if it's not defined in the global styles
$sticker-size: 50;

.root {
  position: relative;
  background-color: #393939a8; // Improved readability
  border-radius: 8px;
  width: 100%;

  .img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 60px;
    width: 60px;

    @media (max-width: 768px) {
      height: 50px;
      width: 50px;
    }
    img {
      padding: 8px;
      width: calc(100%);
      z-index: 1;
      // alt attribute should be defined in the HTML, not here
    }
  }

  .number-of-el {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff; // Improved readability
    font-size: 12px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: #000; // Improved readability
    @media (max-width: 768px) {
      font-size: 8px;
      width: 16px;
      height: 16px;
      top: -8px;
      right: -8px;
    }
  }

  .grid-container {
    position: absolute;
    top: -12px;
    left: -12px;
    transform: scale(1);
    transform-origin: top left;
    display: none; // Adjust as needed
    gap: 8px;
    z-index: 2;
    border-radius: 8px;
    padding: 16px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
    transition: transform 0.1s ease-in-out;

    @media (max-width: 768px) {
      top: -8px;
      left: -8px;
      // Example breakpoint for mobile devices
      padding: 8px; // Reduce padding for smaller screens
      // Add other adjustments as needed for the mobile layout
    }
  }

  // Add focus states for interactive elements if needed
  .interactive-element:focus {
    outline: 2px solid #000; // Example focus outline
  }
}
