.App {
  background-color: black;
  height: 100vh;
  color: green;
}

.instruction {
  display: none;
}

#title {
  font-size: 1.5em;
  color: green;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .desktop-instruction {
    display: block;
    font-size: 1px !important;
  }
  #title {
    font-size: 5em;
    color: green;
    font-weight: 900;
  }
  .instruction {
    font-size: 1em;
    display: inline;
    color: green;
  }
}

.button {
  color: green;
  background-color: #000000;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .App {
    /* Modify as needed for mobile */
    color: green;
  }
}
